# Core functionality - changes here should be rare!
/src/app.py                   @skbivek
/src/backend/database.py      @skbivek
/src/backend/routers/auth.py  @skbivek

# The frontend will need refactored soon to be more object oriented.
/src/static/   @skbivek
